/* font: import ================================================ */
@font-face {
  font-family: 'Menlo';
  src: url('./font/Menlo-Regular_RadioClub.woff') format('woff');
  src: url('./font/Menlo-Regular_RadioClub.woff2') format('woff2');
}

@font-face {
  font-family: 'Menlo-Italic';
  src: url('./font/Menlo-Italic.woff') format('woff');
  src: url('./font/Menlo-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Menlo-Bold';
  src: url('./font/Menlo-Bold.woff') format('woff');
  src: url('./font/Menlo-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Menlo-BoldItalic';
  src: url('./font/Menlo-BoldItalic.woff') format('woff');
  src: url('./font/Menlo-BoldItalic.woff2') format('woff2');
}


/* text: drag color ================================================ */
::selection {
  color: white;
  text-shadow: 0 0px 6px black;
  text-decoration: none;
  /* color: #000000 !important;
  background: #ffffff !important; */
}

/* Code for Firefox */
::-moz-selection { 
  color: white;
  text-shadow: 0 0px 6px black;
  text-decoration: none;
  /* color: #000000 !important;
  background: #ffffff !important; */
}


/* text: default ================================================ */
html,body {
  font-family: 'Menlo';
  /* font-family: Arial, sans-serif;  */
  font-size: 10px;
  color: #333;
}

button {
  font-size: 12px;
  font-family: Menlo;
}

button:disabled {
  font-family: 'Menlo-Bold';
}

a {
  text-decoration: none;
}

p {
  margin-block-start: 10px;
  margin-block-end: 10px;
}


/* Material Symbols ================================================ */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
