/* ============================================================= */
/* Variable */
/* ============================================================= */
:root {
  --scrollbar-width: 20px;
  --scrollbar-right: 0px;
  --scrollbar-left: 17px;
}


/* ============================================================= */
/* Basic */
/* ============================================================= */
html,body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: lemonchiffon;
}

::-webkit-scrollbar { 
  width: 0;
}


.body_container {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "."
    "."
    ".";
  background: lemonchiffon;
}

/* #ascii {
  display: none;
} */


/* input, button {
  padding: 0.5rem;
  font-size: 1rem;
} */

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-items: baseline; */
  border-bottom: 1px solid black;
}
