body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#result > div, #playlistContainer > div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  /* margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 6px; */
}

#result img, #playlistContainer img {
  width: 64px;
  height: 64px;
  margin-right: 1rem;
  border-radius: 6px;
}

.track-info {
  flex-grow: 1;
}

.playing {
  background-color: #dff0ff;  /* 파란색 계열 배경 */
  border-left: 4px solid #1db954;  /* Spotify 그린 강조 */
}


button {
  cursor: pointer;
}

audio {
  margin-left: 1rem;
  outline: none;
}
