.Play-btns {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-rows: 1fr; 
  gap: 0px 10px; 
  grid-template-areas: 
    ". . . ."; 
  padding: 16px 12px;
  border-top: 1px solid black;
}

.Play-btns button {
  background: none;
  border: none;
}


#playlistContainer {    
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 1px solid black;
}

input[type="text" i] {
  background: none;
  border-style: double;
}

#result {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  padding: 20px;
  -webkit-transform: translate(-50%, -50%); /* Safari */
  -moz-transform: translate(-50%, -50%); /* Firefox */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -o-transform: translate(-50%, -50%); /* Opera */
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
}

#result > div, #playlistContainer > div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  /* margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 6px; */
}

#result img, #playlistContainer img {
  width: 64px;
  height: 64px;
  margin-right: 1rem;
  border-radius: 6px;
}

.track-info {
  padding: 0 12px;
  flex-grow: 1;
}

.playing {
  font-style: italic;
  /* background-color: #a9a69d;  */
  /* border-left: 4px solid #1db954;  */
}


button {
  cursor: pointer;
  background: #fffacd;
  color: #000000;
  border: 1px solid #b1b1b1;
  border-top: none;
  border-bottom: none;
  border-style: outset;
}

audio {
  margin-left: 1rem;
  outline: none;
}
