
#playlistContainer {    
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 1px solid #00e900;
}

input[type="text" i] {
  background: none;
  border-style: double;
}

#result {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
}

#result-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  padding: 19px 0 0 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* backdrop-filter: blur(10px); */
  /* background: lemonchiffon; */
  /* background: #fff388; */
  background: #00ff00;
  /* background: #fffbd4; */
  border: 1px solid #00e900;
  z-index: 2;
}

#result-bg {     
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#playlistContainer > div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #00e900;
  /* margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 6px; */
}

#result > #result-modal > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #00e900;
  /* margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 6px; */
}

.addBtn {
  padding: 6px 9px 6px 6px;
}

/* #result img, #playlistContainer img {
  width: 64px;
  height: 64px;
  margin-right: 1rem;
  border-radius: 6px;
} */

.track-info {
  padding: 0 12px;
}

.track-item .track-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.track-item {
  cursor: pointer;
}

.playing {
  font-family: 'Menlo-Italic';
  /* background-color: #a9a69d;  */
  /* border-left: 4px solid #1db954;  */
}
    

audio {
  margin-left: 1rem;
  outline: none;
}
