






/* #nextPageButton {
  z-index: 3;
} */





/* button:disabled {
  background: lightgray;
} */

/* button {
  min-width: 22px;
  height: 22px;
  border: 1px solid rgb(208, 190, 48);
  background: white;
  color: rgb(63, 63, 63);
  opacity: 0.9;
  border-radius: 3px;
  font-family: Menlo;
  font-weight: bold;
  font-size: 13px;
}

button:hover {
  color: gray;
  opacity: 0.5;
}

button:disabled {
  color: gray;
  opacity: 0.5;
} */
